{{ 'productsgrid.css' | asset_url | stylesheet_tag }}

<section class="gradisection">
  <h2>
    You can see all our products
  </h2>

  <div id="gradidiv">
    {%- liquid
      assign collection_page = collections[section.settings.featured_collection]
      assign products_number = section.settings.products_number | minus: 1
      assign product_tag = section.settings.select_by_tag
      assign count = 0
    -%}

    {% for product in collection_page.products %}
      {% if count > products_number %}
        {% break %}
      {% endif %}

      {% for tag in product.tags %}
        {% if product_tag == "all" or product_tag == tag %}
          <div class="gradidiv__product">
            <h5 class="gradidiv__product__h5">
              <strong>{{ product.title }}</strong>
            </h5>
            <div class="gradidiv__product__coll">
              {% for collection in product.collections %}
                {% unless collection.title == "All" %}
                  <span>{{ collection.title }}</span>
                {% endunless %}
              {% endfor %}
            </div>
            <div class="gradidiv__product__tags">
              {% for tag in product.tags %}
                <span class="specific_tag_gradi"><em>{{ tag }}</em></span>
              {% endfor %}
            </div>
            <a href="{{ product.url }}" class="gradidiv__product__link">
              <img 
                src="{{ product | img_url }}" 
                alt="{{ product.title }}" 
                width="150"
                height="150"
                loading="lazy"
                class="gradidiv__product__img">
            </a>
            <span><strong>{{ product.price | money }}</strong></span>
            <div class="gradidiv__product__radiobox">
              <!-- <div>
                <input type="radio" id="pink" name="pink" value="pink" checked>
                <label for="pink">pink</label>
              </div>
              <div>
                <input type="radio" id="purple" name="purple" value="purple">
                <label for="purple">purple</label>
              </div>
              <div>
                <input type="radio" id="orange" name="orange" value="orange">
                <label for="orange">orange</label>
              </div> -->

              {% assign variants = product.variants %}
              {% for variant in variants %}
                <div>
                  <input 
                    type="radio" 
                    id="{{ variant.option1 }}{{ product.title | slice: 0, 3 }}{{ count }}" 
                    name="{{ product.title }}" 
                    value="{{ variant.option1 }}{{ product.title | slice: 0, 3 }}{{ count }}" 
                    class="gradidiv__product__radio gradidiv__product__radio--{{ variant.option1 }}"
                  {% if variant.option1 == 'pink' %}
                    checked
                  {% endif %}>
                  <label for="{{ variant.option1 }}{{ product.title | slice: 0, 3 }}{{ count }}"></label>
                </div>
              {% endfor %}
            </div>            
          </div>

          {% assign count = count | plus: 1 %}

          {% if product_tag == 'all' %}
            {% break %}
          {% endif %}

        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
  <p>Total products in collection: {{ collection.all_products_count }}</p>
</section>

<script src="{{ 'productsgrid.js' | asset_url }}" async></script>

{% schema %}
{
  "name": "my schema",
  "settings": [
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Featured collection"
    },
    {
      "type": "select",
      "id": "select_by_tag",
      "label": "Select by tag",
      "options": [
          {
            "value": "all",
            "label": "all"
          },
          {
            "value": "banana",
            "label": "banana"
          },
          {
            "value": "enjoy",
            "label": "enjoy"
          },
          {
            "value": "soft",
            "label": "soft"
          },
          {
            "value": "summer",
            "label": "summer"
          }
        ],
        "default": "all"
    },
    {
      "type": "number",
      "id": "products_number",
      "label": "Products number",
      "default": 10
    }
  ]
}
{% endschema %}