{{ 'productsgrid.css' | asset_url | stylesheet_tag }}

<section class="gradisection">
  <h2>
    You can see all our products
  </h2>

  <div id="gradidiv">
    {%- liquid
      assign collection_page = collections[section.settings.featured_collection]
      assign products_number = section.settings.products_number | minus: 1
      assign product_tag = section.settings.select_by_tag
      assign count = 0
    -%}

    {% for product in collection_page.products %}
      {% if count > products_number %}
        {% break %}
      {% endif %}

      {% for tag in product.tags %}
        {% if product_tag == "all" or product_tag == tag %}
          <div class="gradidiv__product">
            <h5 class="gradidiv__product__h5">
              <strong>{{ product.title }}</strong>
            </h5>
            <div class="gradidiv__product__coll">
              {% for collection in product.collections %}
                {% unless collection.title == "All" %}
                  <span>{{ collection.title }}</span>
                {% endunless %}
              {% endfor %}
            </div>
            <div class="gradidiv__product__tags">
              {% for tag in product.tags %}
                <span class="specific_tag_gradi"><em>{{ tag }}</em></span>
              {% endfor %}
            </div>
            <a href="{{ product.url }}" class="gradidiv__product__link">
              {% assign variants = product.variants %}

              {% for variant in variants %}

                {% assign variantImg = variant | img_url %}
                {% assign newUrl = variantImg %}                            
                {% assign url = '' %}

                  {% if forloop.index0 != 0 %}
                    
                    {% continue %}              

                  {% endif %}

                  {% assign myNewUrl = url | concat: newUrl %}
                  <!-- {% capture finalUrls %}
                    {{ myNewUrl }}
                  {% endcapture %}  -->
                  
                  <img
                    src="{{ variant | img_url }}" 
                    alt="{{ product.title }}" 
                    width="150"
                    height="150"
                    loading="lazy"
                    {% if variant.option1 != 'pink' %}
                      class="gradidiv__product__img--{{ variant.option1 }} gradidiv__product__img--dnone"
                    {% else %}
                      class="gradidiv__product__img--{{ variant.option1 }}"  
                    {% endif %}
                  >
              {% endfor %}
            </a>
            <span><strong>{{ product.price | money }}</strong></span>
            
            <div class="gradidiv__product__radiobox">
              {% for variant in variants %}
                <div>
                  <div class="gradidiv__product__radio gradidiv__product__radio--{{ variant.option1 }}">
                  </div>
                </div>
              {% endfor %}
            </div>            
          </div>

          {% assign count = count | plus: 1 %}

          {% if product_tag == 'all' %}
            {% break %}
          {% endif %}

        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
  <p>Total products in collection: {{ collection.all_products_count }}</p>

  {% assign test = 0 %}
</section>

<script src="{{ 'productsgrid.js' | asset_url }}" async></script>

<script>

  let urls = '';
  let print = '{{ myNewUrl }}'

  for (let i = 0; i < 3; i++) {

    urls = urls + '{{ newUrl }}'
    
  }

  console.log(urls);
  console.log(print);

</script>

{% schema %}
{
  "name": "Customize products",
  "settings": [
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Featured collection"
    },
    {
      "type": "select",
      "id": "select_by_tag",
      "label": "Select by tag",
      "options": [
          {
            "value": "all",
            "label": "all"
          },
          {
            "value": "banana",
            "label": "banana"
          },
          {
            "value": "enjoy",
            "label": "enjoy"
          },
          {
            "value": "soft",
            "label": "soft"
          },
          {
            "value": "summer",
            "label": "summer"
          }
        ],
        "default": "all"
    },
    {
      "type": "number",
      "id": "products_number",
      "label": "Products number",
      "default": 10
    }
  ]
}
{% endschema %}