<section>
    <h2>
        You can see all our products
    </h2>

    <div>
        {% assign collection_page = collections[section.settings.featured_collection] %}

        <label for="product_tag_gradi">Select by tag</label>
        <select name="product_tag_gradi" id="product_tag_gradi">
            <option value="all">all</option>
            {% for product_tag in collection_page.all_tags %}
                <option value="{{ product_tag }}" >{{ product_tag }}</option>
            {% endfor %}
        </select>

        <label for="product_number_gradi">Select the number of products</label>
        <select name="product_number_gradi" id="product_number_gradi">
            {% assign array_string = "1, 2, 3, 4, 5, 6, 7, 8, 9" %}
            {% assign array_numbers = array_string | split: "," %}

            {% for number in array_numbers %}
                <option value="{{ number }}" >{{ number }}</option>
            {% endfor %}
            <option value="10" selected>10</option>
        </select>
    </div>

    <div id="products_card_gradi" style="display: flex;">

        {% assign products_number = section.settings.products_number %}
        {% assign count = 0 %}

        {% for product in collection_page.products %}
            {% assign count = count | plus: 1 %}
            {% if count > products_number %}
                {% break %}
            {% else %}    
                <div class="product_card_gradi">
                    <h5>
                        <strong>{{ product.title }}</strong>
                    </h5>
                    <span>
                        {{ product.collections.title }}
                    </span>
                    <div>
                        {% for collection in product.collections %}
                            {% unless collection.title == "All" %}
                                <span>{{ collection.title }}</span>
                            {% endunless %}
                        {% endfor %}
                    </div>
                    <div class="tag_box">
                        {% for tag in product.tags %}
                            <span class="specific_tag_gradi"><em>{{ tag }}</em></span>
                        {% endfor %}
                    </div>
                    <a href="{{ product.url }}">
                        <img 
                            src="{{ product | img_url }}" 
                            alt="{{ product.title }}"
                            width="100"
                            height="100"
                            loading="lazy"
                        >
                    </a>
                    <span><strong>{{ product.price | money }}</strong></span>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <p>Total products in collection: {{ collection.all_products_count }}</p>
</section>

<script src="{{ 'productsgrid.js' | asset_url }}" async></script>

{% schema %}
{
    "name": "my schema",
    "settings": [
        {
            "type": "collection",
            "id": "featured_collection",
            "label": "Featured collection"
        },
        {
            "type": "number",          
            "id": "products_number",          
            "label": "Products number",          
            "default": 10         
        }
    ]
}
{% endschema %}